@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	font-family: 'Roboto', sans-serif;
background-image: url(../img/fondo.jpg);
}


main{
	width: 90%;
	height: 80%;
	background-color: #feffa3;
	margin-left: auto;
	margin-right: auto;
}


header{
	width: 100%;
	height: 150px;
	background-color: #cc181e;
}


nav{
	width: 100%;
	height: 50px;
	background-color: #ffc300;
}




footer{
	width: 100%;
	height: 50px;
	background-color:#2bd1fc;
}


article{
	width: 100%;
	height: 559px;
	
}

p{  font-size: 20px;
	color: black;

}


#button li{
	display: inline;
}


#button li a{
	font-size: 16px;
	text-decoration: none;
	float: right;
	padding: 1%;
	color: #ffffff;
	margin-left: 2%;
	margin-right: 1.5%;
	margin-top: 0.3%;
}


#button li a:hover {
	color: #000000;
}


.logo{
	margin-left: 2%;
	margin-top: 1.5%;
	width: auto;
	height: auto;
}


#button a{
	font-size: 16px;
	text-decoration: none;
	float: right;
	padding: 1%;
	color: #ffffff;
	margin-left: 2%;
	margin-right: 1.5%;
	margin-top: 0.3%;
}


#ap {

	width: 33%;

	color: #ffffff;
	float:left;
	font-size: 13px;
	padding-top: 1.5%;
	margin-left: 35%; 
}


#i{

	float: right;
	padding-right: 15px;
	padding-top: 1%;
}


#f {
	
	float: right;
	padding-right: 15px;
	padding-bottom: : 1%;
	padding-top: 0.8%;
}


#tc {

	
    color: #ffffff;
	float:left;
	font-size: 13px;
	padding-top: 1.5%;
	padding-left: 20px;
}


h2	{

	font-size: 33px;
    padding: 1%;
    width: 30%;
    margin-left: 20px;
	background-color: rgba(244, 44, 44, 0.3);
color: rgba(244, 44, 44, 0.3);
-moz-box-shadow: 11px 13px 11px #c7022a;
-webkit-box-shadow: 11px 13px 11px #c7022a;
box-shadow: 11px 13px 11px #c7022a;
}


#index{
		
color: #ffffff;
text-align: center;



}



.filter1{
	-webkit-filter: grayscale(1);
	margin-top: 10px;
}


#redondo {
border: 1px solid #ffc300;
-moz-border-radius: 7px;
-webkit-border-radius: 17px;
} 

#border{
border:dashed 3px #ebce11;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
padding: 3%;
margin-left: 5%;
margin-top: 20%;
} 

#titulo{
	float:left;
	position: relative;
	top: 20%;
	left: 5%;

	font-weight: bold;
	font-size: 30pt;
}

#titulo2{
	margin-top: 2%;
	margin-left: 5%;
	font-size: 20pt;
	color: black;
	
}

#titulo3{
	margin-top: 2%;
	margin-left: 5%;
	font-size: 16pt;
	color: black;
	
}

a {
	text-decoration: none;
	color: #ffffff;

}
#galeria{
	padding: 15%;
	margin-left: 2%;
	
}
#titulobody{
	margin-top: 1%;
	padding-top: 6%;
	margin-left: 5%;
	font-size: 18pt;
	color: black;
}
#contenedorgaleria{
	width: 100%;
	
	padding-left: 20%;
	font-size: 9pt;
	color: red;
	
}

#contenedortexto{
	width: 50%;
	height: 120px;
	margin-left: 5%;
	margin-top: 1%;
	

}

#pdf{
	width: 80%;
	height: 470px;
	margin-top: 25px;
	margin-left: 10%;

}


#section1	{
	height: 170px;
	}


#titulobody1{
	margin-top: 1%;
	margin-left: 5%;
	font-size: 18pt;
	color: black;
}


#contenedorgaleria1{
	width: 100%;

padding: auto;
	margin-bottom: 2%;
	font-size: 9pt;
	color: red;
	text-align: center;
	margin-right: 5%;
	
}
#titulobody2{
	margin-top: 1%;
	padding-top: 2%;
	margin-left: 5%;
	font-size: 18pt;
	color: black;

}

#p{  
text-align: center;
}

